[Unit]
Description=SuperCollider
After=multi-user.target

[Service]
Type=simple
User=pi
ExecStart=/usr/local/bin/mcp3008spi

[Install]
WantedBy=multi-user.target
